@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.main {
  background-color: $black;
  @include toActiveTransition;

  &Fade {
    @include toInactiveTransition;
  }
}
.h1 {
  font-size: $font-titles-big;
  font-family: $font-titles;
  color: $red;

  &Sub {
    font-family: $font-body;
    font-size: $font-body-big;
    color: $black;
    margin-bottom: 2rem;
  }
}

.container {
  @include containerSmall;
  padding: 4rem 0;
}
