@use "../../styles/utils/variables" as *;

.logoContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: none !important;
  .img {
    width: 100%;
  }

  .initials {
    display: block;
    font-weight: $font-titles-black;
  }
}
