@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.navbar {
  background-color: $black;
  font-size: $font-body-small;
  color: $white;
  font-family: $font-titles;
  padding: 1rem 0;

  @include screenSmall {
    display: none;
  }

  &Container {
    @include containerSmall;
    display: flex;
    justify-content: space-between;
  }
}
