@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.contactLinksContainer {
  width: 40%;
  padding-top: 1rem;

  @include screenSmall {
    width: 100%;
    padding-top: 2.5rem;
  }

  .name {
    text-align: center;

    h1 {
      font-family: $font-titles;
      font-size: $font-titles-small;
      color: $red;
      margin-bottom: 0.9rem;
    }

    h2 {
      font-family: $font-body;
      font-size: $font-body-small;
      color: $white;
      margin-bottom: 2.5rem;

      @include screenSmall {
        margin-bottom: 1.5rem;
      }
    }
  }

  .links {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: $font-body-small;

    .link {
      width: fit-content;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      color: $white;

      i {
        font-size: $font-body-big;
      }
    }
  }
}
