@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.hero {
  background-image: linear-gradient(
    to bottom,
    rgba($white, 1),
    rgba($white, 0)
  );
  padding: 4rem 0;
  &Container {
    @include containerSmall;
    display: flex;
    justify-content: space-between;
  }
}
