@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.hero {
  background-image: linear-gradient(
    to bottom,
    rgba($white, 1),
    rgba($white, 0)
  );
  padding: 5rem 0;

  @include screenSmall {
  }
  &Container {
    @include containerSmall;
    display: flex;
    justify-content: space-between;

    @include screenSmall {
      flex-direction: column;
    }
  }
}
