@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.hero {
  padding: 5rem 0;

  @include screenSmall {
  }
  &Container {
    @include containerSmall;
    display: flex;
    justify-content: space-between;

    @include screenSmall {
      flex-direction: column;
    }
  }
}
