@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.photoContainer {
  position: relative;
  width: 40%;
  height: 40vh;
  @include screenSmall {
    width: 80%;
    margin: 0 auto;
  }

  &Img {
    width: 100%;
    position: absolute;
    z-index: 2;
    transform: translate(1rem, -1rem);
  }

  &Bg {
    width: 100%;
    position: absolute;
    transform: translate(-1rem, 1rem);
  }
}
