@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.photoContainer {
  position: relative;
  width: 33%;
  @include screenSmall {
    width: min(80%, 34rem);
    margin: 0 auto;
  }

  &Img {
    width: 100%;
    position: absolute;
    z-index: 2;
  }

  &Bg {
    width: 100%;
    transform: translate(-1rem, 1rem);
  }
}
