@font-face {
  font-family: "Ropa Sans";
  src: url("/RopaSans-Regular.ttf");
  font-weight: 400;
}

$font-titles-big: 3rem;
$font-titles-small: 2rem;

$font-body-big: 2rem;
$font-body-small: 1.5rem;

$yellow: #dac568a4;
$black: #272234;
$red: #f15078;
$white: #f4eef5;

$font-titles: "Ropa Sans", sans-serif;
$font-titles-black: 400;
// $font-body: "Lato", sans-serif;
$font-body: "courier new", sans-serif;
$font-body-black: 900;
