@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;900&family=Raleway:wght@400;700&display=swap");

$font-titles-big: 3rem;
$font-titles-small: 2rem;

$font-body-big: 2rem;
$font-body-small: 1.5rem;

$yellow: #dac568a4;
$black: #272234;
$red: #85354a;
$white: #f4eef5;

$font-titles: "Raleway", sans-serif;
$font-titles-black: 700;
$font-body: "Lato", sans-serif;
$font-body-black: 900;
